extends layout

block content
    .container
        .row
            .col-md-12
                p 测试返回刷新页面
    script(src="/javascripts/sea.js")
    script(src="/javascripts/zepto.js")
    script(src="/javascripts/Bridge.js")
    script(src="/javascripts/testBridge.js")
    script.
        $(function(){
            Bridge.refreshBeforePage()
        })
